* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
section {
  min-height: 100vh;
  text-align: center;
  display: table;
  width: 100%;
}
.text {
  font-size: 100px;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
}