span, a {
  font-weight: 400;
}
span {
  position: relative;
  display: block;
}
.map {
  height: 430px;
}
.container {
  width: 100%;
}
.foot {
  background-color: #fff;
}
.contacts {
  color: #fff;
  height: 370px;
  width: 380px;
  left: 490px;
  top: 0;
  background-color: #C60B0B;
  text-align: center;
  position: absolute;
  padding-top: 69px;
  h2 {
    font-family: "Open Sans", sans -serif;
    font-size: 30px;
  }
  .lock {
    display: block;
    margin: 39px 0 21px;
    font-size: 18px;
  }
}
a {
  left: 0%;
  right: 0%;
  position: absolute;
  bottom: 70px;
  color: #fff;
  font-size: 18px;
}
.phone {
    left: 0%;
    right: 0%;
    position: absolute;
    bottom: 128px;
    font-size: 18px;
  }
    .lock {
    display: block;
    margin: 39px 0 21px;
    font-size: 18px;
  }
  img {
    top: 450px;
    position: absolute;
    left: 490px;
  }
  h1 {
    position: absolute;
    font-size: 16px;
    left: 569px;
  }
  .sert {
    position: absolute;
    display: block;
    color: #666;
    text-align: center; 
    left: 824px;
    top: 465px;
    font-size: 14px;
    margin-top: 0;
  }
  .footer {
    position: absolute;
    right: 489px;
  }
  .nam {
    text-align: left;
    font-weight: 600;
    font-size: 22px;
  }
  .addr {
    font-size: 14px;
    text-align: left;
  }